services:
  lambda:
    build: .
    container_name: instance_scheduler_lambda
    ports:
      - "9000:8080"
    environment:
      # Pulled from aws-vault
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      # From .env
      - AWS_REGION=${AWS_REGION}
      - ENVIRONMENT=${ENVIRONMENT}
      - POWERTOOLS_LOGGER_LOG_EVENT=${POWERTOOLS_LOGGER_LOG_EVENT}
      - POWERTOOLS_SERVICE_NAME=${POWERTOOLS_SERVICE_NAME}
      - POWER_TOOLS_LOG_LEVEL=${POWER_TOOLS_LOG_LEVEL}
    develop:
      watch:
        - action: sync+restart
          path: ./app
          target: /var/task/app
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: uv.lock
